html
  head
    title Test page
    style.
      .badnews {
        color: red;
        padding: 100px;
        background: aqua
      }
  body
    p.badnews Whaddayagonnado, eh?
    | NO understando no ansiendo I sink at least so
    a(href="index")